@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Noto+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}

.btna  i{
    color: var(--buttonTextColor);
    font-size: 2rem;
    height: 46px;
    border-radius: 5px;
    right: 20px;
    position: fixed;
    bottom: 15px; 
    z-index:3;
}


:root{
    --mainColor: #03001E;
    --secondaryColor: #03676e8e;
    --textColor: #16E2B9;
    --buttonTextColor: #FFFFFF;
    --buttonHoverColor:#f18a368c;
    --technologiesColor:#060230;
}

.body{
    background-color: black;
    height: 1000px;
    color: #fff;
}

p{
    font-family: 'Inconsolata', monospace;
}

#yazi{
    font-family: 'Poppins', sans-serif;    
}

.navbar{
    background: rgba(12, 11, 11, 0.871);

}


ul{
    list-style: none;
}



/*Projects*/

.section-5-background {
    background-color: #252525 !important;
    background-position: center;
    padding: 100px 0 !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    margin-top: 0 !important;
}




.technologies-container li {
    background-color: #fff;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .8s;
}


.technologies-container li:hover{
    background-color: var(--secondaryColor);
    transform: translateX();    
    animation: mymove .8s infinite;

}



@keyframes mymove {
    0%   {transform: translateX(0rem)}
    25%  {transform: translateX(.5rem)}
    40%{transform: translateX(-.5rem)}
    50%{transform: translateX(.5rem)}
    65%  {transform: translateX(-.5rem)}
    750% {transform: translateX(.5rem)}
    1000% {transform: translateX(0rem)}
  }

  



.image {
    overflow: hidden;
    height: 300px;
    width: 300px;
    position: relative;
    cursor: pointer;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #555
}


.image:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: blue;
    opacity: 0.8;
    border-radius: 50%;
    transition: .8s
}

.image:hover:after {
    transform: translate(-50%, -50%)
}

.image:hover #img {
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg)
}

#img {
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s
    
}

#ico{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in
}

.image:hover #ico {
    transform: translate(-50%, -50%);
    transition-timing-function: ease
}




/*Social*/

#social{
    background-color: #0b0b0f;
    border-radius: 40%;
    transition: .7s;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.social-media div{
    margin: 1rem;
}

#social:hover{
    background-color: #15003e;
    transition: .7s;
    margin: .3rem;
}

#social i{
    transition: .7s;
}

#social i:hover{
    transform: rotate(120deg);
    transition: .7s;    
}




    /**Styling scrollable elements*/
    
    .js-scroll {
        opacity: 0;
        transition: opacity 500ms;
      }
      
      .js-scroll.scrolled {
        opacity: 1;
      }
      
      .scrolled.fade-in {
        animation: fade-in 1s ease-in-out both;
      }
      
      .scrolled.fade-in-bottom {
        animation: fade-in-bottom 1s ease-in-out both;
      }
      
      .scrolled.slide-left {
        animation: slide-in-left 1s ease-in-out both;
      }
      
      .scrolled.slide-right {
        animation: slide-in-right 1s ease-in-out both;
      }
      
      /* ----------------------------------------------
       * Generated by Animista on 2021-2-11 23:32:31
       * Licensed under FreeBSD License.
       * See http://animista.net/license for more info. 
       * w: http://animista.net, t: @cssanimista
       * ---------------------------------------------- */
      
      @keyframes slide-in-left {
        0% {
          -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(100px);
          transform: translateX(100px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
      
      @keyframes fade-in-bottom {
        0% {
          -webkit-transform: translateY(50px);
          transform: translateY(50px);
          
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
          
          opacity: 1;
        }
      }
      
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }


      #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
        
      }
      
    .js .cd-top {
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s,visibility .3s,background-color .3s;
    }
    
